# 🏛️ I18N CONFIGURATION
# Options: 'en'
LANGUAGE='en'

# 🏛️ ENVIRONMENT CONFIGURATION
# Options: 'prod', 'local'
ENVIRONMENT='prod'

# 🏛️ AUTHENTICATION CREDENTIALS
# Required for access
VALID_USERNAME='*****'
VALID_PASSWORD='*****'

# 🏛️ TEST STABILITY
# Seed used for deterministic data generation
TEST_SEED=''
